<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page_title }}</title>
    <link href="resources/css/bootstrap.min.css?v={{cache_buster}}" rel="stylesheet">
    <link href="resources/css/1200pages.css?v={{cache_buster}}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span5">
            {% include "categories-menu.html" %}
          </div>
          <div class="span7">
            {% block content_body %}

            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
